body{
    display: grid;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-columns: 1fr;
    
    .lanes{
        background-color: brown;
    }
    .lanes#toplane{
        >p{font-size: 160%;  
            display:flex; 
            justify-content: center; 
            margin-left: -1rem;
        }   
        background-color: aliceblue;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        .opponent-playpen{
            display:flex ;
            justify-content: space-evenly;
        }
        .emptytile{
            display: flex;
        }
    }
    
    .lanes#bottomlane{
        background-color: darkblue;
    }
    .emptytile{
        height: 5rem;
        width: 5rem;
        border: 1px solid 
        
    }
}